LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv..."
LANGSMITH_PROJECT="..."

GEMINI_API_KEY=...
OPENAI_API_KEY=...
ANTHROPIC_API_KEY=sk-

TAVILY_API_KEY=tvly-...
REPLICATE_TOKEN = ...
